body{
  margin: 0;
}
x
header{
  display: flex;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 24px;
  

}
nav img{
  width: 59px;
  margin: 10px;
  margin-left: 19px;

}
button{
  
  padding: 6px 16px 8px 16px;
  background:red;
  color: white;
  font-weight: 500;
  height: 32px;
}
.main{
  display: flex;
}
.part1{
  width: 50%;
  align-items: center;
  
}
.part1 h1{
  font-size: 80px;
}
.part1 p{
  font-size: 25px;
  margin-left: 4px;
}
.part1 button{
  margin: 10px;
  gap: 10px;
}
.part2{
  width: 50%;
}
.part2 img{
  width: 800px;
}
.part1 img{
  width: 100px;
}